It was an unusually {{madLibsObject.adjective}} night and I was at {{madLibsObject.diveBar}} in Williamsburg wearing
an ironic {{madLibsObject.band}} t-shirt ordering a craft bespoke cocktail made with gin, rosemary and {{madLibsObject.ingredient}}
when a woman in a flannel shirt and {{madLibsObject.clothingItem}} walked in holding a bahn mi sandwhich and
a locally made {{madLibsObject.flavor}} Kombucha. Her style was on point. She looked at my {{madLibsObject.adjective2}} mustache and
it was totes love at first sight.

<div class="buttons"><a href="#/view1" class="button2"> Go back </a> </div>
