<ul>

<li><label>Adjective<input type="text" ng-model="madLib.adjective" id="adjective"></label></li>
<li><label>Dive Bar Name<input type="text" ng-model="madLib.diveBar" id="diveBar"></label></li>
<li><label>90s Band<input type="text" ng-model="madLib.band" id="90sband"></label></li>
<li><label>Ingredient<input type="text" ng-model="madLib.ingredient" id="ingredient"></label></li>
<li><label>Strange accessory<input type="text" ng-model="madLib.clothingItem" id="clothingItem"></label></li>
<li><label>Flavor<input type="text" ng-model="madLib.flavor" id="flavor"></label></li>
<li><label>Adjective<input type="text" ng-model="madLib.adjective2" id="adjective2"></label></li>
</ul>

<div class="buttons" ng-click="ourFunc(madLib)"><a href="#/view2" class="button2"> Ok! </a> </div>
